<div _ngcontent-c3="" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center; align-items: center;">
    <section _ngcontent-c3="" fxlayout="" fxlayoutalign="start" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: stretch flex-start; align-items: stretch;">
      <div _ngcontent-c3="" class="card" fxlayout="column" fxlayoutalign="start" fxlayoutgap="1em" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: stretch flex-start; align-items: stretch;">
        <h1 _ngcontent-c3="" style="margin-bottom: 1em;">About</h1>
        <p _ngcontent-c3="" style="margin-bottom: 1em;">Sprint is a minimalist desktop time management application
          inspired by the <a _ngcontent-c3="" href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>.
        </p>
        <p _ngcontent-c3="" style="margin-bottom: 1em;">Choose a sprint length, enter a brief description of the
          activity, and get things done.</p>
        <p _ngcontent-c3="" style="margin-bottom: 1em;">Preferred browser: <a _ngcontent-c3="" href="https://www.google.com/chrome/">Chrome</a>.
        </p>
        <p _ngcontent-c3=""><span _ngcontent-c3="" style="text-decoration: underline; cursor: pointer">Terms and
            conditions</span>. </p>
      </div>
    </section>
    <footer _ngcontent-c3="" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center; align-items: center;">
    </footer>
  </div>